

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #ddd;
  }

  li a.active {
    color: white;
    background-color: #4CAF50;
  }
</style>

<ul>
  <li><a href=<%= edit_agent_url(current_agent.id) %>>Agency Profile</a></li>
  <li><a class="active" href=<%= new_booking_url %>>Now Booking</a></li>
  <li><a href=<%= vehicles_path %>>Inventory Management</a></li>
</ul>
<div class ='tabBody'>

<%= form_tag new_booking_path, :method => 'get' do %>
  <div class="field">
    <%= label_tag :category %>
    <%= select_tag "category", options_for_select([ "4 Seater", "5 Seater", "7 Seater" ], params[:category])%>
  </div>
  <div class="field">
    <%= label_tag :isAc %>
    <%= check_box_tag :isAc, params[:isAc], true %>
  </div>
  <div class="field">
    <%= label_tag :start_date %>
    <%= date_field_tag :start_date, params[:start_date] %>
  </div>
  <div class="field">
    <%= label_tag :end_date %>
    <%= date_field_tag :end_date, params[:end_date] %>
  </div>
  <%= submit_tag "Search" %>
<%end %>
<br>

  <%#= isAc %>
<p id="notice"><%= notice %></p>


<table>
  <thead>
  <tr>
    <th>Category</th>
    <th>Model</th>
    <th>Manufacturer</th>
    <th>Is AC</th>
    <th>Cost</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.category %></td>
      <td><%= vehicle.model %></td>
      <td><%= vehicle.manufacturer %></td>
      <td><%= vehicle.isAc %></td>
      <td><%= vehicle.cost %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<br><br>

<table>
  <thead>
  <tr>
    <th>Vehicle</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Customer name</th>
    <th>Customer contact</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.vehicle_id %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td><%= booking.customer_name %></td>
      <td><%= booking.customer_contact %></td>
      <td><%= link_to 'Show', booking %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br><br>



<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label :customer_contact %>
    <%= f.text_field :customer_contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<br>
<%= link_to 'Back', bookings_path %>
</div>