

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #ddd;
  }

  li a.active {
    color: white;
    background-color: #4CAF50;
  }
</style>
<div class="no-print">
<ul>
  <li><a href=<%= edit_agent_url(current_agent.id) %>>Agency Profile</a></li>
  <li><a class="active" href=<%= new_booking_url %>>Now Booking</a></li>
  <li><a href=<%= vehicles_path %>>Inventory Management</a></li>
</ul>
<div class ='tabBody'>
  <p id="notice" style="text-align: center"><%= notice %></p>

<%= form_tag new_booking_path, :method => 'get' do %>
  <div class="field">
    <%= label_tag :category ,'Category',class: 'agencyProfileFields'%>
    <%= select_tag "category", options_for_select([ "4 Seater", "5 Seater", "7 Seater" ], params[:category]),style:'margin-right:19%'%>
    <%= label_tag :isAc,'is AC',class: 'agencyProfileFields' %>
    <%= label_tag :isAc, "Yes", class: 'bookingFieldsInlineBlock',:value => "1" %>
    <%= radio_button_tag :isAc, "1" %>
    <%= label_tag :isAc, "No",class: 'bookingFieldsInlineBlock',:value => "0" %>
    <%= radio_button_tag :isAc, "0" %>
  </div>
    <div class="field">


    </div>

  <div class="field">
    <%= label_tag :start_date,'Start Date',class: 'agencyProfileFields' %>
    <%= date_field_tag :start_date, params[:start_date] ,class: 'marginRight'%>
    <%= label_tag :end_date ,'End Date',class: 'agencyProfileFields'%>
    <%= date_field_tag :end_date, params[:end_date] %>
  </div>
  <div class="field">

  </div>


  <%= submit_tag "Search" ,class:'button'%>
<%end %>


<br><br>



<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <table>
      <thead>
      <tr>
        <th>Category</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Is AC</th>
        <th>Cost</th>
        <th colspan="3"></th>
      </tr>
      </thead>



      <% @conflictFlag %>
      <% @vehicles.each do |v| %>
        <% @conflictFlag = 0 %>
        <% @bookings.each do |b| %>
          <% if b.vehicle_id==v.id %>
            <% @conflictFlag = 1 %>
            <% break %>
          <% end %>
        <% end %>
        <%if @conflictFlag==0%>
          <tr>
            <td><%= v.category %></td>
            <td><%= v.model %></td>
            <td><%= v.manufacturer %></td>
            <td><%= v.isAc %></td>
            <td><%= v.cost %></td>
            <td><%= f.radio_button :vehicle_id, v.id %></td>
          </tr>
        <%end %>
      <%end%>
      </tbody>
    </table>
    <%= f.hidden_field :start_date, value: params[:start_date] %>
    <%= f.hidden_field :end_date, value: params[:end_date] %>
  <div class="field">
    <%= f.label :customer_name, :class=>'agencyProfileFields' %>
    <%= f.text_field :customer_name , style:'margin-right:4%'%>
    <%= f.label :customer_contact , :class=>'agencyProfileFields'%>
    <%= f.text_field :customer_contact %>
  </div>

  <div class="actions" >
    <%= f.submit :class=>'button', :onclick=>"document.getElementById('bill').style.display='block'"%>
  </div>
<% end %>

</div>
</div>
<div class="print modal tabcontent" id="bill" style="padding-top: 4px;">
  <div class="modal-content animate" id="termsToPrint" style="width: 50%;">

    <div class="imgcontainer">
      <span onclick="document.getElementById('bill').style.display='none'" class="close" title="Close Modal" style="right: 12px;top: -6px;">&times;</span>
    </div>
    <div class="bill-container" ><span style="display: inline"><h1 style="text-align: right;margin-bottom: 0px;margin-top: 0px;color: #c5c1c1;font-size: 44px;">Invoice</h1><h1 style="margin-left: 20px;margin-top:-5px;margin-bottom: 0px;font-size: 30px;">RentO Co.</h1></span>

      <br>
      <hr>
      <div style="margin-left: 25px;">
        <p style=" font-size: 12px;text-align: right;margin-right: 5px;" >Date: <span style="font-size: 15px;" id="invoicedate"><b>04/11/2018</b></span></p><br>
        <p style="min-width: 15%; display: inline-block; font-size: 14px;margin-top: 5px;">Agent Name: <span style="font-size: 17px;"><b><%= current_agent.orgName %></b></span></p><br>
        <p style="min-width: 15%; display: inline-block; font-size: 14px;margin-top: 4px;">Agent Reg. no.: <span style="font-size: 17px;"><b><%= current_agent.regNo %></b></span></p><br>


        <p style="min-width: 15%; display: inline-block; font-size: 13px;margin-top: 15px;text-align: -webkit-center">Customer Name: <span style="font-size: 15px;"><b>Lakshya Bansal</b></span></p><br>
        <p style="min-width: 15%; display: inline-block; font-size: 13px;margin-top: 0px;">Contact: <span style="font-size: 15px;"><b>9479580279</b></span></p><br>
        <p style="min-width: 15%; display: inline-block; font-size: 13px;margin-top: 0px;">Locality: <span style="font-size: 15px;"><b><%= current_agent.locality %></b></span></p><br>
        <p style="min-width: 15%; display: inline-block; font-size: 13px;margin-top: 0px;">City: <span style="font-size: 15px;"><b><%= current_agent.city %></b></span></p><br>
        <p style="min-width: 15%; display: inline-block; font-size: 13px;margin-top: 0px;">Pin code: <span style="font-size: 15px;"><b><%= current_agent.pinCode %></b></span></p><br>

        <p style="min-width: 15%; display: inline-block; font-size: 13px;margin-top: 15px;text-align: -webkit-center">Cost per day: Rs <span style="font-size: 15px;"><b>1200</b></span></p><br>
        <p style="min-width: 15%; display: inline-block; font-size: 13px;margin-top: 8px;text-align: -webkit-center">Tentative Total: Rs <span style="font-size: 15px;"><b>4800</b></span></p><br>



      </div>
      <button class="button" onclick="window.print();return false;">Print</button>
    </div>
  </div>

</div>