<h1>Editing Agent</h1>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #ddd;
  }

  li a.active {
    color: white;
    background-color: #4CAF50;
  }
</style>
<ul>
  <li><a class="active">Edit Agent Profile</a></li>
  <li><a href=<%= new_booking_url %>>New Booking</a></li>
  <li><a href=<%= vehicles_path %>>Inventory Management</a></li>
</ul>
<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
        <% @agent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>

  <div class="field">
    <%= f.label :orgName %><br>
    <%= f.text_field :orgName, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :regNo %><br>
    <%= f.text_field :regNo, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :fName %><br>
    <%= f.text_field :fName %>
  </div>
  <div class="field">
    <%= f.label :lName %><br>
    <%= f.text_field :lName %>
  </div>
  <div class="field">
    <%= f.label :locality %><br>
    <%= f.text_field :locality %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :pinCode %><br>
    <%= f.text_field :pinCode %>
  </div>

  <div class="actions">
    <%= f.submit "Save Details"%>
  </div>
<% end %>

<%= link_to "Sign out", signout_path, method: "delete" %>
<!--<%#= link_to 'Show', @agent %> |-->
<%#= link_to 'Back', agents_path %>
