<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @vehicle.category %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer %>
</p>

<p>
  <strong>Isac:</strong>
  <%= @vehicle.isAc %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @vehicle.cost %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
