<!DOCTYPE html>
<html>
<head>
  <title>Team1VehicleRentalService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="startTime()">
<div class="no-print">
<%= render 'layouts/header' %>
</div>
<%= yield %>
<div class="footer" style="margin-top: 15px; width: 100%">
  <medium>&copy; Copyright 2018, RentO Co.</medium>
</div>

</body>
</html>
